<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <form method="post" th:action="@{/submitForm}" th:object="${user}">
            <table>
                <tr>
                    <td><label for="immatriculation">Immatriculation :</label></td>
                    <td><input id ="immatriculation" type="text"  th:field="*{registration}" th:value="${user.registration}"></td>
                    <td th:if="${#fields.hasErrors('registration')}" th:errors="*{registration}"></td>

                </tr>
                <tr>
                    <td><label for="nom">Nom : </label></td>
                    <td><input id="nom" type="text" th:field="*{lastname}" th:value="${user.lastname}"></td>
                    <td th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></td>
                </tr>
                <tr>
                    <td><label for="prenom">Prénom :</label></td>
                    <td><input id="prenom" type="text" th:field="*{firstname}" th:value="${user.firstname}"></td>
                    <td th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}"></td>
                </tr>

            <span th:if="${authorized==false}" value="">Cet utilisateur n'est pas dans la base de données</span>

            </table>
            <div style="margin:20px auto">
<!--                <input type="submit" value="Valider">-->
                <button type="submit" name="action" value="demande">Faire une demande</button>
                <button type="submit" name="action" value="consulte">Consulter mes demandes</button>
            </div>


        </form>


    </body>
</html>