<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Interventions</title>
    </head>
    <body>
        <h2>Liste des interventions : </h2>
        <table border="1px">
            <tr>
                <td>id_user</td>
                <td>registration</td>
                <td>lastname</td>
                <td>firstname</td>
                <td>role_user</td>
                <td>password.user</td>
            </tr>
            <tr th:each="interevntion : ${interevtions}">
                <td th:text="${intervention.id_user}"></td>
                <td th:text="${intervention.registration}"></td>
                <td th:text="${intervention.lastname}"></td>
                <td th:text="${intervention.firstname}"></td>
                <td th:text="${intervention.role_user}"></td>
                <td th:text="${intervention.password.user}"></td>
            </tr>

        </table>


    </body>
</html>