<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Interventions</title>
    </head>
    <body>
        <h2>Liste des interventions : </h2>
        <table border="1px">
            <tr>
                <td>ID</td>
                <td>description</td>
                <td>User</td>
                <td>date de creation</td>
                <td>date d'affectation'</td>
                <td>date de réalisation'</td>

                <td>priorité</td>
                <td>Prise en charge</td>
                <td>Réalisé</td>
            </tr>
            <tr th:each="intervention : ${interventionsList}">
                <td ><a th:text="${intervention.idIntervention}" th:href="@{/interventions_admin/{id}(id=${intervention.idIntervention})}"></a></td>
                <td th:text="${intervention.description}"></td>
                <td th:text="${intervention.idUser.firstname}"></td>
                <td th:text="${intervention.creationDate}"></td>
                <td th:text="${intervention.affectationDate}"></td>
                <td th:text="${intervention.realisationDate}"></td>

                <td th:text="${intervention.priority}"></td>
                <td >
                    <select name="intervenant" >
                        <option th:if="${intervention.idIntervenant == null}" value="" selected >Choisir un intervenant</option>

                        <option th:each="intervenant : ${intervenants}"
                                th:value="${intervenant.idUser}"
                                th:text="${intervenant.firstname} + ' ' + ${intervenant.lastname}"
                                th:selected="${intervention.idIntervenant != null and intervention.idIntervenant.idUser == intervenant.idUser}">
                        </option>
                    </select>
                </td>
                <td th:text="${intervention.status}"></td>
            </tr>
        </table>
    </body>
</html>