<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Interventions</title>
    </head>
    <body>
        <h2>Liste des interventions : </h2>
        <table border="1px">
            <tr>
                <td>ID</td>
                <td>description</td>
                <td>date de creation</td>
                <td>date</td>
                <td>date d'affectation</td>
                <td>date de réalisation</td>
                <td>priorité</td>
                <td>Status</td>
                <td>Id User</td>
                <td>Id location</td>
            </tr>
            <tr th:each="intervention : ${interventionsList}">
                <td ><a th:text="${intervention.idIntervention}" th:href="@{/interventions_admin/{id}(id=${intervention.idIntervention})}"></a></td>
                <td th:text="${intervention.description}"></td>
                <td th:text="${intervention.creationDate}"></td>
                <td th:text="${intervention.date}"></td>
                <td th:text="${intervention.affectationDate}"></td>
                <td th:text="${intervention.realisationDate}"></td>
                <td th:text="${intervention.priority}"></td>
                <td th:text="${intervention.status}"></td>
                <td th:text="${intervention.idUser.idUser}"></td>
                <td th:text="${intervention.idLocation.idLocation}"></td>
            </tr>

        </table>


    </body>
</html>