<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        <form method="post" th:action="@{/dashboard}" th:object="${user}">
            <table>
                <tr>
                    <td><label for="immatriculation">Immatriculation :</label></td>
                    <td><input id ="immatriculation" type="text"  th:field="*{registration}" th:value="${user.registration}"></td>
                    <td th:if="${#fields.hasErrors('registration')}" th:errors="*{registration}"></td>

                </tr>
                <tr>
                    <td><label for="password">Password : </label></td>
                    <td><input id="password" type="text" th:field="*{passwordUser}" th:value="${user.passwordUser}"></td>
                    <td th:if="${#fields.hasErrors('passwordUser')}" th:errors="*{passwordUser}"></td>
                </tr>

                <span th:if="${authorized==false}" value="">Immatriculation ou password erroné</span>

            </table>
            <div style="margin:20px auto">
                <input type="submit" value="Valider">
            </div>


        </form>


    </body>
</html>