<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Users</title>
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <h2>Liste des utilisateurs: </h2>
        <table border="1px">
            <tr>
                <td>id_user</td>
                <td>registration</td>
                <td>lastname</td>
                <td>firstname</td>
                <td>role_user</td>
            </tr>
            <tr th:each="user : ${usersList}">
                <td><a th:href="@{/users/{id}(id=${user.id_user})}" th:text="${user.id_user}" ></a></td>
                <td th:text="${user.registration}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.firstname}"></td>
                <td th:text="${user.role_user}"></td>
            </tr>

        </table>


    </body>
</html>